.circle-image {
    clip-path: circle(50%);
    max-width: 400px;
}
.img-padding {
    margin-top: 30px;
}
.lineup-hero-img {
   display: none;
   max-width: 200%;
}
.img-remote-vertical {
   display: none;
}
.img-remote-tilted {
   display: block;
}
.channel-item img {
    max-width: 100%;
    max-height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) and (max-width: 768px) {
    .col-collapse-early .tds-pagedivider-two-col .col-xxs-12.col-xs-6 {
        width: 100%;
    }
}

.img-responsive.img-full.all {
    width: 100%;
}

@media (max-width: 992px) {
  .img-responsive.img-full.lg {
      width: 100%;
  }
}

@media (max-width: 900px) {
  .img-responsive.img-full.mdlg {
      width: 100%;
  }
}

@media (max-width: 767px) {
  .img-responsive.img-full.md {
      width: 100%;
  }
}