.align-left-responsive {
  text-align: left;
}

.align-right-responsive {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.tdstvplus-section p {
  font-size: 20px;
  font-weight: 100;
  line-height: 36px;
  letter-spacing: .025em;
}

@media (max-width: 767px) {
  .tdstvplus-section p {
    font-size: 16px;
    line-height: 1.85em;
  }
}

.tdstvplus-section a {
  color: black;
}

.tdstvplus-section a:hover {
  color: #3c87da;
  /* bright blue // rgba(135,222,244,0)*/
}

.tdstvplus-section h3 {
  color: rgba(60, 102, 147, 1) !important;
}

.tdstvplus-section h2 {
  font-size: 36px;
  color: #3c87da;
}

.tdstvplus-subhead h2 {
  color: #87def4;
  /* sky blue // rgba (0,110,213,1)*/
  font-size: 32px;
  font-weight: 300;
}

.section-hero h1,
.section-hero-inverse h1 {
  border-bottom: none;
  font-weight: 400;
  font-size: 42px;
}

@media (max-width: 900px) {
  .section-hero h1,
  .section-hero-inverse h1 {
    font-size: 36px;
    line-height: 1.3em;
  }
  .tdstvplus-section h2 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .section-hero h1,
  .section-hero-inverse h1 {
    font-size: 28px;
    line-height: 1.3em;
  }
  .tdstvplus-section h2 {
    font-size: 22px;
  }
}

.section-hero a,
.section-hero-inverse a {
  color: white;
}

.section-hero sup,
.section-hero-inverse sup {
  font-size: 12px;
  vertical-align: super;
}

.tdstvplus-section .white-heading h2,
.tdstvplus-section .white-copy p,
.tdstvplus-section .white-copy a {
  color: #ffffff;
}

.tdstvplus-section .bright-blue-heading h2 {
  color: #3c87da;
  /*rgba(135,222,244,0)*/
}

.tdstvplus-section .sky-blue-heading h2,
.tdstvplus-section .white-copy a:hover,
.tdstvplus-section .white-copy a :focus {
  color: #87def4;
  /*rgba (0,110,213,1)*/
}

.tdstvplus-section .label {
  padding: 3px 6px;
}

.premiums-hero-copy {
  color: rgba(119, 212, 240, 1) !important;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  max-width: 75%;
}

.app-tablet-copy p {
  font-size: 23px;
}

.app-tablet-copy {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 870px) {
  .app-tablet-copy {
    max-width: 60%;
  }
}

.tdstvplus-section.section-cnc h2 {
    color: white;
}